.navbar_wrapper {
background: #666;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 95%;
    margin: 0 auto;
}
.navbar_left {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}
.navbar_left li {
    list-style: none;
}
.navbar_left li a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
}
.navbar_left li a:hover {
    color: #ddd;
}
.navbar_right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}
.navbar_right li {
    list-style: none;
}
.navbar_right li a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
}
.navbar_right li a:hover {
    color: #ddd;
}