
#login_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 50px auto;
    padding: 50px 30px;
    box-shadow: 0px 4px 10px #ccc;
}
#login_username {
    padding: 8px 5px;
    width: 80%;
    font-size: 14px;
}
#login_password {
    padding: 8px 5px;
    width: 80%;
    margin: 10px 0;
    font-size: 14px;
}
#login_submit {
    width: 84%;
    border-radius: 5px;
    border: none;
    margin: 0px;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 0px;
    background: #5a965a;
    color: #fff;
    cursor: pointer;
}
#login_submit:hover {
    background: #5a966a;
}
.login_label-ctn {
    margin: 10px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
.login_label {
    font-size: 24px;
    color: #666;
    flex: 1;
    text-align: center;
}
.login_label-left-line {
    height: 1px;
    width: 30px;
    background: #666;
    flex: 1;
}
.login_label-right-line {
    height: 1px;
    width: 30px;
    background: #666;
    flex: 1;
}